<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Personalized Coin List </title>
    </head>
    <body>
        <table>
            <tr>
                <th style="width: 20%; text-align: center;">Coin Name</th>
                <th style="width: 20%; text-align: center;">Industry</th>
                <th style="width: 20%; text-align: center;">Market Cap</th>
                <th style="width: 20%; text-align: center;">Age</th>
                <th style="width: 20%; text-align: center;">Similarity Rank</th>
            </tr>
            {% for coin_name, coin in coin_list.items() %}
            <tr>
                {% for col, cell in coin.items() %}
                    {% if cell is number %}
                        <td style="width: 20%; text-align: center;">
                            <span style="text-align: center; vertical-align: middle; line-height:3em; width: 3em; background-color:#f9b94b; border-radius: 50%; display: inline-block;">
                                {{(cell * 100)|int}}
                            </span>
                        </td>
                    {% else %}
                        <td style="width: 20%; text-align: center;">
                            {{cell}}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>